<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <%= link_to("Back to Pictures", "/pictures") %>

    <p><%= @picture.title %>, <%= @picture.artist %></p>
    <img src = "<%= @picture.url %>">

  </body>
</html>
